header img {
    width: 400px;
}
Body {
    background-image: url(SSTW3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
Nav li {
    display: inline;
    font-size: 18px;
    margin-left: 60px;
}
.main {
    background-color: cadetblue;
}
body {
    text-align: center;
}