nav li {
    display: inline;
    font-size: 20px;
}
body {
    background-color: darkblue;
}
body p {
    color: white;
}
body h4 {
    color: white;
}

body h1 {
    
}
header img {
    width: 700px
}
body h1 {
    color: white
}
body h3 {
    color: white
}
