Nav li {
    display: inline;
    font-size: 18px;
    margin-left: 60px;
}
body {
    background-color: darkblue;
}
body p {
    color: black;
}
body h4 {
    color: black;
}

header img {
    width: 700px;
}
body h1 {
    color: black;
}
body h3 {
    color: black;
}

header img {
    width: 400px;
    margin: 10px 1500px 10px 150px
}
.text p {
    text-align: center;
}
body h1 {
    text-align: center;
}
body h3 {
    text-align: center;
}
.main {
    background-color: cadetblue;
}