.audio-app img {
    width: 300px;
    height: 300px;
    padding: 10px 100px 10px 160px;
}
header img {
    width: 400px;
}
Body {
    background-image: url(My%20Future%20Self%20background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
Nav li {
    display: inline;
    font-size: 18px;
    margin-left: 60px;
}
.main {
    background-color: cadetblue;
}
body {
    text-align: center;
}